<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates local</title>
</head>
<body>
    <h1>Nuevo empleado</h1>
    <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" >
        {% comment %} 
        formulario cavernicula
         <label>Nombre</label><br>
        <input type="text" name="nombre"><br>
        <label >url</label><br>
        <input type="text" name="url"><br><br>
        <input type="submit" >
         {% endcomment %}
      </form>
</body>
</html>